<%- include("../../partials/users/header.ejs") %>

<section class="bg-img1 txt-center p-lr-15 p-tb-92">
    <h2 class="ltext-105 cl0 txt-center">
        Error
    </h2>
</section>	

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <h3 class="mtext-105 cl2 txt-center p-b-30">
            <%= message %>
        </h3>
    </div>
</section>

<%- include("../../partials/users/footer.ejs") %>
