<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Glide Hub</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/asset2/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/asset2/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/images/icons/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Material Design Icons -->
    <link rel="stylesheet" href="/fonts/iconic/css/material-design-iconic-font.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- Additional Libraries -->
    <link rel="stylesheet" href="/vendor/animate/animate.css">
    <link rel="stylesheet" href="/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" href="/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/vendor/slick/slick.css">
    <link rel="stylesheet" href="/vendor/MagnificPopup/magnific-popup.css">
    <link rel="stylesheet" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />

    <!-- Ensure to load jQuery and other JS libraries -->
    <script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Sidebar (As per your original HTML) -->
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/home" class="brand-wrap">
                <img src="/asset2/imgs/theme/glidelogo.png" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize">
                    <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-menu"></i>
                        <span class="text">Menu</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/home">
                            <i class="icon material-icons md-home"></i>
                            <span>Dashboard</span>
                        </a>
                        <a href="/admin/products">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span>Products</span>
                        </a>
                        <a href="/admin/categories">
                            <i class="icon material-icons md-category"></i>
                            <span>Categories</span>
                        </a>
                        <a href="/admin/userOrders">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span>Orders</span>
                        </a>
                        <a href="/admin/users">
                            <i class="icon material-icons md-person"></i>
                            <span>Users</span>
                        </a>
                        <a href="page-account-register.html">
                            <i class="icon material-icons md-how_to_reg"></i>
                            <span>User Registration</span>
                        </a>
                        <a href="page-reviews.html">
                            <i class="icon material-icons md-comment"></i>
                            <span>Reviews</span>
                        </a>
                        <a href="page-brands.html">
                            <i class="icon material-icons md-stars"></i>
                            <span>Brands</span>
                        </a>
                        <a href="logoutAdmin">
                            <i class="icon material-icons md-exit_to_app"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </aside>

   
    <!-- Scripts (jQuery, Bootstrap, etc.) -->
    <script src="/asset2/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/asset2/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/asset2/js/vendors/select2.min.js"></script>
    <script src="/asset2/js/vendors/perfect-scrollbar.js"></script>
    <script src="/asset2/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/asset2/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/asset2/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="/asset2/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
</body>

</html>
